[Unit]
Description=Runs v2ray-rules sync every day
After=network.target
Wants=network.target
[Timer]
OnCalendar=*-*-* 12:00:00
Unit=v2ray-rules.service
[Install]
WantedBy=multi-user.target
